body {
    background-color: #439FE0;
    font-family: 'Open Sans';
    text-align: center;
}

.calculator {
    margin-top: 25vh;
}

h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 5vh;
}

h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5vh;
}

#avalue, #firstTerm, #bvalue, #commonDif, #cvalue, #nTerm, #numberOfTerm {
    display: block;
    margin-left:auto;
    margin-right:auto;
	padding: 1em;
	border: none;
	background: #fff;
	color: #000;
	margin-bottom: 3vh;
}

button {
  color: #ffffff;
  display: block;
  margin-left:auto;
  margin-right:auto;
  font-size: 20px;
  background: #152A38;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#submit {
    margin-top: 5vh;
    border:0;
}

#xvaluefirst {
    color: #fff;
    margin-top: 3vh;
}

#xvaluesecond {
    color: #fff;
    margin-top: 2vh;
}

.portal {   
    margin-top: 2em;  
    display: inline-block; 
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 2.6em;
    text-decoration: none;
    color: white;
    margin-top: 1.66em;   
}
    
a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color:white;
}

#linkBox {
    height: 190px;
    width: 290px;
    display: inline-block;
    margin: .7em;
    border-radius: 2%; 
    align-content: center; 
    border: .2em solid white; 
}

a:active {
    text-decoration:none; 
}

a {
    text-decoration: none; 
}

.linkTitle {
    font-family: 'Lato', sans-serif;
    font-size: 2.4em;
    text-decoration: none;
    position: relative;
    
}

#push_up {
    margin-bottom: 2em; 
}

#homeicon {
    width:5%;
}

@media (max-width:600px) {
    
    h1{
        font-size:20px;
    }
    
    #homeicon {
        width:15%;
    }
}

#home {
    text-align:right;
}